.delete-btn {
    float: right;
    color: #e74944;
}

#picandbtn {
    float: left;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.row {
    background-color: rgb(237, 240, 243);
}